{%extends 'base.html'%}

{% block content %}
{{block.super}}
<h1>Gallery</h1>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">Category</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">All Photos</li>
                <li class="list-group-item">My family</li>
                <li class="list-group-item">My Pets</li>
                <li class="list-group-item">Best Books</li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4 mb-2">
                <a href="{% url 'viewPhoto' 1 %}">
                    <div class="card">
                        <img class="card-img-top thumbnail" src="https://avatars.githubusercontent.com/u/98155614?s=400&u=622efc7014995ff694fa92eb55bc4ae05915008e&v=4" alt="Card image cap" style="width: 100%;">
                        <div class="card-body">
                            <p><b>Category: </b>Family</p>
                        </div>
                    </div>
                </a>

            </div>
        </div>

    </div>
</div>

{% endblock %}
