{%extends 'base.html'%}

{% block content %}
{{block.super}}
<h1>Gallery</h1>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">Location</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">All Photos</li>
                {% for location in locations %}
                    <li class="list-group-item">{{location.location}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            {% for photo in photos %}
            <div class="col-md-4 mb-2">
                <a href="{% url 'viewPhoto' photo.id%}">
                    <div class="card">
                        <img class="card-img-top thumbnail" src="{{ photo.image}}" alt="Card image cap" style="width: 100%;">
                        <div class="card-body">
                            <p><b>Category: </b>{{photo.category}}</p>
                        </div>
                    </div>
                </a>

            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}
