{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="row">
        {% if categories%}
        <h2>Found {{ categories|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 category for the search term {{message}}</h2>
        {% endif %}

    </div>

    <div class="row">

        {% if categories %}
    {% for category in categories %}
    <div class="col-sm-6 col-md-3">
        <h1>{{category.name}}</h1>
    </div>
    {% endfor %}
    {% endif %}

        {% for photo in photos %}
        <div class="col-md-4 mb-2">
            <a href="{% url 'viewPhoto' photo.id%}">
                <div class="card">
                    <img class="card-img-top thumbnail" src="{{ photo.image}}" alt="Card image cap" style="width: 100%;">
                    <div class="card-body">
                        <p><b>Category: </b>{{photo.category}}</p>
                    </div>
                </div>
            </a>

        </div>
        {% endfor %}
    </div>

{% endblock %}